<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>

	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.752960336374-fo6psf8nulrubsc567v18sck4psm03jo</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>752960336374-fo6psf8nulrubsc567v18sck4psm03jo.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>NagrikMitra needs access to your camera to capture photos of civic issues.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>NagrikMitra needs your location to automatically detect and report civic issues in your area.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>NagrikMitra needs access to your photos to attach evidence to issue reports.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
